$primary-font-color: #121417;
$secondary-font-color: rgba($primary-font-color, 0.5);
$accent-color: #3470ff;
$accent-hover-color: #0b44cd;
$primary-white: #ffffff;
$transition-duration: 250ms linear;
