$primary-font-color: #121417;
$secondary-font-color: rgba($primary-font-color, 0.5);
$label-font-color: '#8A8A89';
$accent-color: #3470ff;
$accent-hover-color: #0b44cd;
$primary-white: #ffffff;
$input-bg-gray-color: #f7f7fb;
$transition-duration: 250ms linear;
